[submodule "Drivers/STM32H7RSxx_HAL_Driver"]
	path = Drivers/STM32H7RSxx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32h7rsxx_hal_driver.git
	branch = main
[submodule "Drivers/CMSIS/Device/ST/STM32H7RSxx"]
	path = Drivers/CMSIS/Device/ST/STM32H7RSxx
	url = https://github.com/STMicroelectronics/cmsis_device_h7rs.git
	branch = main
[submodule "Drivers/BSP/STM32H7RSxx_Nucleo"]
	path = Drivers/BSP/STM32H7RSxx_Nucleo
	url = https://github.com/STMicroelectronics/stm32h7rsxx-nucleo-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32H7S78-DK"]
	path = Drivers/BSP/STM32H7S78-DK
	url = https://github.com/STMicroelectronics/stm32h7s78-dk-bsp.git
	branch = main
[submodule "Drivers/BSP/Components/aps256xx"]
	path = Drivers/BSP/Components/aps256xx
	url = https://github.com/STMicroelectronics/stm32-aps256.git
	branch = main
[submodule "Drivers/BSP/Components/Common"]
	path = Drivers/BSP/Components/Common
	url = https://github.com/STMicroelectronics/stm32-bsp-common.git
	branch = main
[submodule "Drivers/BSP/Components/gt911"]
	path = Drivers/BSP/Components/gt911
	url = https://github.com/STMicroelectronics/stm32-gt911.git
	branch = main
[submodule "Drivers/BSP/Components/lan8742"]
	path = Drivers/BSP/Components/lan8742
	url = https://github.com/STMicroelectronics/stm32-lan8742.git
	branch = main
[submodule "Drivers/BSP/Components/mx25uw25645g"]
	path = Drivers/BSP/Components/mx25uw25645g
	url = https://github.com/STMicroelectronics/stm32-mx25uw25645g.git
	branch = main
[submodule "Drivers/BSP/Components/mx66uw1g45g"]
	path = Drivers/BSP/Components/mx66uw1g45g
	url = https://github.com/STMicroelectronics/stm32-mx66uw1g45g.git
	branch = main
[submodule "Drivers/BSP/Components/ov5640"]
	path = Drivers/BSP/Components/ov5640
	url = https://github.com/STMicroelectronics/stm32-ov5640.git
	branch = main
[submodule "Drivers/BSP/Components/rk050hr18"]
	path = Drivers/BSP/Components/rk050hr18
	url = https://github.com/STMicroelectronics/stm32-rk050hr18.git
	branch = main
[submodule "Drivers/BSP/Components/tcpp0203"]
	path = Drivers/BSP/Components/tcpp0203
	url = https://github.com/STMicroelectronics/stm32-tcpp0203.git
	branch = main
[submodule "Drivers/BSP/Components/wm8904"]
	path = Drivers/BSP/Components/wm8904
	url = https://github.com/STMicroelectronics/stm32-wm8904.git
	branch = main
[submodule "Middlewares/ST/STM32_ExtMem_Loader"]
	path = Middlewares/ST/STM32_ExtMem_Loader
	url = https://github.com/STMicroelectronics/stm32-mw-extmem-ldr
	branch = main
[submodule "Middlewares/ST/STM32_ExtMem_Manager"]
	path = Middlewares/ST/STM32_ExtMem_Manager
	url = https://github.com/STMicroelectronics/stm32-mw-extmem-mgr
	branch = main
[submodule "Middlewares/ST/OpenBootloader"]
	path = Middlewares/ST/OpenBootloader
	url = https://github.com/STMicroelectronics/stm32-mw-openbl
	branch = main
[submodule "Middlewares/ST/STM32_USB_Device_Library"]
	path = Middlewares/ST/STM32_USB_Device_Library
	url = https://github.com/STMicroelectronics/stm32-mw-usb-device
	branch = master
[submodule "Middlewares/ST/STM32_USB_Host_Library"]
	path = Middlewares/ST/STM32_USB_Host_Library
	url = https://github.com/STMicroelectronics/stm32-mw-usb-host
	branch = master
[submodule "Middlewares/ST/STM32_USBPD_Library/Core"]
	path = Middlewares/ST/STM32_USBPD_Library/Core
	url = https://github.com/STMicroelectronics/stm32-mw-usbpd-core
	branch = main
[submodule "Middlewares/ST/STM32_USBPD_Library/Devices/STM32H7RSXX"]
	path = Middlewares/ST/STM32_USBPD_Library/Devices/STM32H7RSXX
	url = https://github.com/STMicroelectronics/stm32-mw-usbpd-device-h7rs
	branch = main
[submodule "Middlewares/Third_Party/FatFs"]
	path = Middlewares/Third_Party/FatFs
	url = https://github.com/STMicroelectronics/stm32-mw-fatfs
	branch = master
[submodule "Middlewares/Third_Party/FreeRTOS"]
	path = Middlewares/Third_Party/FreeRTOS
	url = https://github.com/STMicroelectronics/stm32-mw-freertos
	branch = master
[submodule "Middlewares/Third_Party/LwIP"]
	path = Middlewares/Third_Party/LwIP
	url = https://github.com/STMicroelectronics/stm32-mw-lwip
	branch = master
[submodule "Middlewares/Third_Party/mbed-crypto"]
	path = Middlewares/Third_Party/mbed-crypto
	url = https://github.com/STMicroelectronics/stm32-mw-mbedtls
	branch = main
[submodule "Middlewares/Third_Party/mcuboot"]
	path = Middlewares/Third_Party/mcuboot
	url = https://github.com/STMicroelectronics/stm32-mw-mcuboot
	branch = main
